 {
	"name": "Company",
	"elements":  {
		"ed9cdd4c-ae8b-4ecb-bca7-e12a5153bc02":  {
			"name": "Subtitle",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"a77f06fc-1561-453c-a429-8dd05cdc29f5":  {
			"name": "Teaser Description",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "0",
			"type": "textarea"
		},
		"1a85a7a6-2aba-4480-925b-6b97d311ee6c":  {
			"name": "Description",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"ffcc1c50-8dbd-4115-b463-b43bdcd44a57":  {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"4339a108-f907-4661-9aab-d6f3f00e736e":  {
			"name": "\u0412\u0443\u043b\u0438\u0446\u044f",
			"description": "str",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"ea0666d7-51e3-4e52-8617-25e3ad61f8b8":  {
			"name": "Postcode",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"90a18889-884b-4d53-a302-4e6e4595efa0":  {
			"name": "\u041c\u0456\u0441\u0442\u043e",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"6a20c005-7bd3-4014-919a-6edfd2239284":  {
			"name": "State",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"81c5f642-2f7f-491f-b1c2-ce32ec688125":  {
			"name": "Country",
			"description": "",
			"access": "1",
			"multiselect": "1",
			"selectable_country":  {
				"0": "AF",
				"1": "AL",
				"2": "DZ",
				"3": "AS",
				"4": "AD",
				"5": "AO",
				"6": "AI",
				"7": "AQ",
				"8": "AG",
				"9": "AR",
				"10": "AM",
				"11": "AW",
				"12": "AU",
				"13": "AT",
				"14": "AZ",
				"15": "BS",
				"16": "BH",
				"17": "BD",
				"18": "BB",
				"19": "BY",
				"20": "BE",
				"21": "BZ",
				"22": "BJ",
				"23": "BM",
				"24": "BT",
				"25": "BO",
				"26": "BA",
				"27": "BW",
				"28": "BV",
				"29": "BR",
				"30": "IO",
				"31": "BN",
				"32": "BG",
				"33": "BF",
				"34": "BI",
				"35": "KH",
				"36": "CM",
				"37": "CA",
				"38": "CV",
				"39": "KY",
				"40": "CF",
				"41": "TD",
				"42": "CL",
				"43": "CN",
				"44": "CX",
				"45": "CC",
				"46": "CO",
				"47": "KM",
				"48": "CG",
				"49": "CD",
				"50": "CK",
				"51": "CR",
				"52": "CI",
				"53": "HR",
				"54": "CU",
				"55": "CY",
				"56": "CZ",
				"57": "DK",
				"58": "DJ",
				"59": "DM",
				"60": "DO",
				"61": "EC",
				"62": "EG",
				"63": "SV",
				"64": "GQ",
				"65": "ER",
				"66": "EE",
				"67": "ET",
				"68": "FK",
				"69": "FO",
				"70": "FJ",
				"71": "FI",
				"72": "FR",
				"73": "GF",
				"74": "PF",
				"75": "TF",
				"76": "GA",
				"77": "GM",
				"78": "GE",
				"79": "DE",
				"80": "GH",
				"81": "GI",
				"82": "GR",
				"83": "GL",
				"84": "GD",
				"85": "GP",
				"86": "GU",
				"87": "GT",
				"88": "GN",
				"89": "GW",
				"90": "GY",
				"91": "HT",
				"92": "HM",
				"93": "VA",
				"94": "HN",
				"95": "HK",
				"96": "HU",
				"97": "IS",
				"98": "IN",
				"99": "ID",
				"100": "IR",
				"101": "IQ",
				"102": "IE",
				"103": "IL",
				"104": "IT",
				"105": "JM",
				"106": "JP",
				"107": "JO",
				"108": "KZ",
				"109": "KE",
				"110": "KI",
				"111": "KP",
				"112": "KR",
				"113": "KW",
				"114": "KG",
				"115": "LA",
				"116": "LV",
				"117": "LB",
				"118": "LS",
				"119": "LR",
				"120": "LY",
				"121": "LI",
				"122": "LT",
				"123": "LU",
				"124": "MO",
				"125": "MK",
				"126": "MG",
				"127": "MW",
				"128": "MY",
				"129": "MV",
				"130": "ML",
				"131": "MT",
				"132": "MH",
				"133": "MQ",
				"134": "MR",
				"135": "MU",
				"136": "YT",
				"137": "MX",
				"138": "FM",
				"139": "MD",
				"140": "MC",
				"141": "MN",
				"142": "ME",
				"143": "MS",
				"144": "MA",
				"145": "MZ",
				"146": "MM",
				"147": "NA",
				"148": "NR",
				"149": "NP",
				"150": "NL",
				"151": "AN",
				"152": "NC",
				"153": "NZ",
				"154": "NI",
				"155": "NE",
				"156": "NG",
				"157": "NU",
				"158": "NF",
				"159": "MP",
				"160": "NO",
				"161": "OM",
				"162": "PK",
				"163": "PW",
				"164": "PS",
				"165": "PA",
				"166": "PG",
				"167": "PY",
				"168": "PE",
				"169": "PH",
				"170": "PN",
				"171": "PL",
				"172": "PT",
				"173": "PR",
				"174": "QA",
				"175": "RE",
				"176": "RO",
				"177": "RU",
				"178": "RW",
				"179": "SH",
				"180": "KN",
				"181": "LC",
				"182": "PM",
				"183": "VC",
				"184": "WS",
				"185": "SM",
				"186": "ST",
				"187": "SA",
				"188": "SN",
				"189": "RS",
				"190": "SC",
				"191": "SL",
				"192": "SG",
				"193": "SK",
				"194": "SI",
				"195": "SB",
				"196": "SO",
				"197": "ZA",
				"198": "GS",
				"199": "ES",
				"200": "LK",
				"201": "SD",
				"202": "SR",
				"203": "SJ",
				"204": "SZ",
				"205": "SE",
				"206": "CH",
				"207": "SY",
				"208": "TW",
				"209": "TJ",
				"210": "TZ",
				"211": "TH",
				"212": "TL",
				"213": "TG",
				"214": "TK",
				"215": "TO",
				"216": "TT",
				"217": "TN",
				"218": "TR",
				"219": "TM",
				"220": "TC",
				"221": "TV",
				"222": "UG",
				"223": "UA",
				"224": "AE",
				"225": "GB",
				"226": "US",
				"227": "UM",
				"228": "UY",
				"229": "UZ",
				"230": "VU",
				"231": "VE",
				"232": "VN",
				"233": "VG",
				"234": "VI",
				"235": "WF",
				"236": "EH",
				"237": "YE",
				"238": "ZM",
				"239": "ZW"
			},
			"type": "country"
		},
		"b870164b-fe78-45b0-b840-8ebceb9b9cb6":  {
			"name": "Telephone",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"8a91aab2-7862-4a04-bd28-07f1ff4acce5":  {
			"name": "Fax",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"3f15b5e4-0dea-4114-a870-1106b85248de":  {
			"name": "E-Mail",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "email"
		},
		"0b3d983e-b2fa-4728-afa0-a0b640fa34dc":  {
			"name": "Website",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default_target": "0",
			"add_protocol": "1",
			"type": "link"
		},
		"7056f1d2-5253-40b6-8efd-d289b10a8c69":  {
			"name": "Employee",
			"description": "",
			"access": "1",
			"selectable_types":  {
				"0": "employee"
			},
			"type": "relateditems"
		},
		"cf6dd846-5774-47aa-8ca7-c1623c06e130":  {
			"name": "Rating",
			"description": "",
			"access": "1",
			"stars": "5",
			"allow_vote": "1",
			"type": "rating"
		},
		"160bd40a-3e0e-48de-b6cd-56cdcc9db892":  {
			"name": "Maps",
			"description": "",
			"access": "1",
			"locale": "en",
			"key": "AIzaSyC-0EAINRk-yGRsYhdU4Za18bd9w-g9gDc",
			"type": "googlemaps"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		},
		"_staticcontent":  {
			"name": "Static Content",
			"description": "",
			"access": "1",
			"type": "staticcontent"
		}
	}
}