 {
	"business.company.default":  {
		"elements":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "tell",
				"specific":  {
					"_zfgroup": "input"
				},
				"layout":  {
					"_layout": "default.php",
					"_search_type": "partial",
					"_convert": "DECIMAL",
					"_placeholder": "tel"
				},
				"search":  {
					"_logic": "AND",
					"_required": "0"
				},
				"element": "b870164b-fe78-45b0-b840-8ebceb9b9cb6"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "zip",
				"specific":  {
					"_zfgroup": "input"
				},
				"layout":  {
					"_layout": "default.php",
					"_search_type": "partial",
					"_convert": "DECIMAL",
					"_placeholder": ""
				},
				"search":  {
					"_logic": "AND",
					"_required": "0"
				},
				"element": "ea0666d7-51e3-4e52-8617-25e3ad61f8b8"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "str",
				"specific":  {
					"_zfgroup": "input"
				},
				"layout":  {
					"_layout": "default.php",
					"_search_type": "partial",
					"_convert": "DECIMAL",
					"_placeholder": ""
				},
				"search":  {
					"_logic": "AND",
					"_required": "0"
				},
				"element": "4339a108-f907-4661-9aab-d6f3f00e736e"
			}
		}
	}
}